<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.Infostretch.JsonPathLibrabry.assignment</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>allUserNames</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>firstTwoUsers</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>balanceOfMaleUsers</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>usersLivesInCalifornia</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>usersHavingAgeBetween24And36</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>totalNumberOfFriendsForFirstUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>allFemaleUsers</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>lastTwoUsers</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
