<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d992b2">  <td>20/01/10 12:51:45</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="assignment.allFemaleUsers()[pri:0, instance:com.Infostretch.JsonPathLibrabry.assignment@a1a8d5]">allFemaleUsers</td> 
  <td>main@20015092</td>   <td></td> </tr>
<tr bgcolor="d992b2">  <td>20/01/10 12:51:45</td>   <td>47</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="assignment.allUserNames()[pri:0, instance:com.Infostretch.JsonPathLibrabry.assignment@a1a8d5]">allUserNames</td> 
  <td>main@20015092</td>   <td></td> </tr>
<tr bgcolor="d992b2">  <td>20/01/10 12:51:45</td>   <td>53</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="assignment.balanceOfMaleUsers()[pri:0, instance:com.Infostretch.JsonPathLibrabry.assignment@a1a8d5]">balanceOfMaleUsers</td> 
  <td>main@20015092</td>   <td></td> </tr>
<tr bgcolor="d992b2">  <td>20/01/10 12:51:45</td>   <td>57</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="assignment.firstTwoUsers()[pri:0, instance:com.Infostretch.JsonPathLibrabry.assignment@a1a8d5]">firstTwoUsers</td> 
  <td>main@20015092</td>   <td></td> </tr>
<tr bgcolor="d992b2">  <td>20/01/10 12:51:45</td>   <td>64</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="assignment.lastTwoUsers()[pri:0, instance:com.Infostretch.JsonPathLibrabry.assignment@a1a8d5]">lastTwoUsers</td> 
  <td>main@20015092</td>   <td></td> </tr>
<tr bgcolor="d992b2">  <td>20/01/10 12:51:45</td>   <td>67</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="assignment.totalNumberOfFriendsForFirstUser()[pri:0, instance:com.Infostretch.JsonPathLibrabry.assignment@a1a8d5]">totalNumberOfFriendsForFirstUser</td> 
  <td>main@20015092</td>   <td></td> </tr>
<tr bgcolor="d992b2">  <td>20/01/10 12:51:45</td>   <td>70</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="assignment.usersHavingAgeBetween24And36()[pri:0, instance:com.Infostretch.JsonPathLibrabry.assignment@a1a8d5]">usersHavingAgeBetween24And36</td> 
  <td>main@20015092</td>   <td></td> </tr>
<tr bgcolor="d992b2">  <td>20/01/10 12:51:45</td>   <td>76</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="assignment.usersLivesInCalifornia()[pri:0, instance:com.Infostretch.JsonPathLibrabry.assignment@a1a8d5]">usersLivesInCalifornia</td> 
  <td>main@20015092</td>   <td></td> </tr>
</table>
