<h2>Reporter output</h2><table><tr><td>-----------------Please Find All Female Users As Below------------------------</td></tr>
<tr><td>Female user 0 is Phyllis Calhoun</td></tr>
<tr><td>Female user 1 is Lindsay Stuart</td></tr>
<tr><td>Female user 2 is Nanette Butler</td></tr>
<tr><td>Female user 3 is Ada Potter</td></tr>
<tr><td>Female user 4 is Sophia Duran</td></tr>
<tr><td>Female user 5 is Lucille Juarez</td></tr>
<tr><td>Female user 6 is Antonia Byers</td></tr>
<tr><td>Female user 7 is Leah Downs</td></tr>
<tr><td>Female user 8 is Jewel Mccoy</td></tr>
<tr><td>------------Please Find All User Names As Below-----------------</td></tr>
<tr><td>User 1 is - Snow Rodriguez</td></tr>
<tr><td>User 1 is - Phyllis Calhoun</td></tr>
<tr><td>User 1 is - Lindsay Stuart</td></tr>
<tr><td>User 1 is - Mcmahon Adams</td></tr>
<tr><td>User 1 is - Nanette Butler</td></tr>
<tr><td>User 1 is - Miranda Thomas</td></tr>
<tr><td>User 1 is - Ada Potter</td></tr>
<tr><td>User 1 is - Levine Deleon</td></tr>
<tr><td>User 1 is - Sophia Duran</td></tr>
<tr><td>User 1 is - Boyd Tyson</td></tr>
<tr><td>User 1 is - Lucille Juarez</td></tr>
<tr><td>User 1 is - Antonia Byers</td></tr>
<tr><td>User 1 is - Wyatt Douglas</td></tr>
<tr><td>User 1 is - Leah Downs</td></tr>
<tr><td>User 1 is - Schneider Durham</td></tr>
<tr><td>User 1 is - Shelton Burnett</td></tr>
<tr><td>User 1 is - Crane Livingston</td></tr>
<tr><td>User 1 is - Bean Moody</td></tr>
<tr><td>User 1 is - Hodges Lawson</td></tr>
<tr><td>User 1 is - Lancaster Walton</td></tr>
<tr><td>User 1 is - Lindsay Hawkins</td></tr>
<tr><td>User 1 is - Jewel Mccoy</td></tr>
<tr><td>-----------------Please Find Balance of Male Users As Below------------------------</td></tr>
<tr><td>Snow Rodriguez has balance of $3,772.00</td></tr>
<tr><td>Mcmahon Adams has balance of $2,533.00</td></tr>
<tr><td>Miranda Thomas has balance of $1,769.00</td></tr>
<tr><td>Levine Deleon has balance of $2,520.00</td></tr>
<tr><td>Boyd Tyson has balance of $1,087.00</td></tr>
<tr><td>Wyatt Douglas has balance of $1,723.00</td></tr>
<tr><td>Schneider Durham has balance of $3,349.00</td></tr>
<tr><td>Shelton Burnett has balance of $2,923.00</td></tr>
<tr><td>Crane Livingston has balance of $1,693.00</td></tr>
<tr><td>Bean Moody has balance of $2,167.00</td></tr>
<tr><td>Hodges Lawson has balance of $1,193.00</td></tr>
<tr><td>Lancaster Walton has balance of $3,744.00</td></tr>
<tr><td>Lindsay Hawkins has balance of $1,534.00</td></tr>
<tr><td>-----------------Please Find First Two Users As Below------------------------</td></tr>
<tr><td>User Number 1 is =Snow Rodriguez</td></tr>
<tr><td>User Number 1 is =Phyllis Calhoun</td></tr>
<tr><td>-----------------Please Find Last Two Users As Below------------------------</td></tr>
<tr><td>User Number 1 is =Lindsay Hawkins</td></tr>
<tr><td>User Number 1 is =Jewel Mccoy</td></tr>
<tr><td>Total Number of friends for first user =3</td></tr>
<tr><td>-----------------Please Find List of Friends of First User As Below------------------------</td></tr>
<tr><td>Friend of First User 1 is Garrison Tillman</td></tr>
<tr><td>Friend of First User 2 is Shawn Holman</td></tr>
<tr><td>Friend of First User 3 is Amy Guerra</td></tr>
<tr><td>-----------------Please Find Users having Age Between 24 and 36 As Below------------------------</td></tr>
<tr><td>User 1 is -Snow Rodriguez</td></tr>
<tr><td>User 1 is -Mcmahon Adams</td></tr>
<tr><td>User 1 is -Nanette Butler</td></tr>
<tr><td>User 1 is -Miranda Thomas</td></tr>
<tr><td>User 1 is -Ada Potter</td></tr>
<tr><td>User 1 is -Sophia Duran</td></tr>
<tr><td>User 1 is -Lucille Juarez</td></tr>
<tr><td>User 1 is -Antonia Byers</td></tr>
<tr><td>User 1 is -Wyatt Douglas</td></tr>
<tr><td>User 1 is -Leah Downs</td></tr>
<tr><td>User 1 is -Schneider Durham</td></tr>
<tr><td>User 1 is -Shelton Burnett</td></tr>
<tr><td>User 1 is -Crane Livingston</td></tr>
<tr><td>-----------------Please Find Users Who Lives in California As Below------------------------</td></tr>
<tr><td>1 User which lives in California is =>Lindsay Stuart</td></tr>
</table>